* {

    margin: 0;
    padding: 0;

}

header {
    
    color: white;
    background-color: rgb(89, 85, 85);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;

}

h3, ul {

    margin: 30px;

}

ul {

    list-style-type: circle;
    color: rgb(21, 109, 191);

}